.color-palette {
    color: antiquewhite;
    color: #F1F3E0;
    color: #D2DCB6;
    color: #A1BC98;
    color: #778873;
    color: #0A400C;
    color: #CA7842;
}

/* FONTS -------------------------------*/
.amarante-regular {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* MORE  */
body {
    background-color: #A1BC98;
    color: #0A400C;
}

h1 {
    font-family: "Amarante";
    color: #D2DCB6;
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
}

h2 {
    font-family: "Quicksand";

}

h3 {
    font-family: "Quicksand";
    color: #c0deb6;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: white;
    padding: 10px;
    margin: 3px;
    font-family: "Quicksand";
}

input:hover {
    background-color: rgba(255, 255, 255, 0.582);
}

input::placeholder {
    color: #596556;
    font-family: "Quicksand";
}

input::file-selector-button {
    background-color: #778873;
    color: white;
    border: none;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    width: 25%;
}

input::file-selector-button:hover {
    background-color: #596556;
}

ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
}

li {
    cursor: pointer;
    border-radius: 8px;
}

label {
    font-weight: bold;
    color: white;
}

button,
.button {
    border-radius: 8px;
    border: none;
    background-color: #ca7842bd;

    min-width: 100px;
    margin: 5px;
    padding: 10px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: larger;
    font-weight: bold;
    font-weight: 450;
    text-transform: capitalize;
    letter-spacing: normal;
    text-align: center;

}

button:hover,
.button:hover {
    background-color: #031804;
}

.button-row {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
}

.container-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
}

.text-centered {
    text-align: center;
    align-items: center;
}

.text-right {
    text-align: right;
    color: #778873;
}

.text-capitalized {
    text-transform: capitalize;
}

.mt-3 {
    margin-top: 3px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.p-10 {
    padding: 10px;
}

.signout-btn {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

.grouped-area {
    border-top: #031804 solid 2px;
    border-bottom: #031804 solid 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

.col {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
}